::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: black; 
}
 ::-webkit-scrollbar-thumb {
  background: whitesmoke; 
}
::-webkit-scrollbar-thumb:hover {
  background: whitesmoke; 
}

.container {
  width: 100%;
}
  
.leftpane {
  width: 26%;
  height: 100vh;
  padding: 5%;
  top: 0;
  background-color: black;
  color: whitesmoke;
  position: sticky;
  box-sizing: border-box;
  
}

.middlepane {
  width: 25%;
  height: 100vh;
  padding: 5%;
  padding-right: 4%;

  top: 0;
  background-color: black;
  color: whitesmoke;
  position: sticky;
  box-sizing: border-box;
}

.rightpane {
  width: 49%;
  padding: 5%;
  background-color: black;
  color: whitesmoke;
}

body {
  margin: 0!important;
  font-family: "Geneva";
  background-color: black;
}

.namejustify {
  text-align: justify;
}
.namejustify:after {
    content: "";
    display: inline-block;
    width: 100%;	
}

#name {
    font-size: 2.1vw;
}

.d-flex {
  display: flex;
}

.section1{
  display: none;
}
.section2{
  display: none;
}
.section3{
  display: none;
}
.section4{
  display: none;
}
.section5{
  display: none;
}


.img{
  width: 45%;
}
.gif{
  width: 90%;
}


audio {
  background-color: whitesmoke;
  border-radius: 0%;
}
.left {
  float: left;
}

.right {
  float: right;
}

.clear { 
  clear: both; 
}

.menu{
  cursor: pointer;
  color: whitesmoke;
}
.menu:hover {
  color: gray;
}

.submenu {
  cursor: pointer;
  color: whitesmoke;
  text-align: right;
  display: none;
}
.submenu:hover {
  color: gray;
}


@media screen and (max-width: 800px) {
  .leftpane, .middlepane, .rightpane {
    width: 100%; 
    height: fit-content;
    box-sizing: border-box;
    position: relative;
  }
  .d-flex{
    display:block;
  }
  
  .gif{
    width: 100%;
  }

  .namejustify {
    text-align: left;
  }
  .namejustify:after {
    content: "";
    display: inherit;
    width: 100%;	
  }

  #name{
    font-size: 1.8em;
  }

}

a:link {
  color: lightblue;
}

/* visited link */
a:visited {
  color: lightblue;
}

/* mouse over link */
a:hover {
  color: lightblue;
}

/* selected link */
a:active {
  color: lightblue;
}

#showingLink {
  color: whitesmoke;
  text-decoration: none;
}


p{
  font-size: 1em;
}

.gif-wrapper {
  line-height: 1%;
  
  -webkit-column-count: 1;
  -webkit-column-gap:   1%;
  -moz-column-count:    1;
  -moz-column-gap:       1%;
  column-count:         1;
  column-gap:            1%;
}

.img-wrapper {
  line-height: 10%;
  
  -webkit-column-count: 2;
  -webkit-column-gap:   1%;
  -moz-column-count:    2;
  -moz-column-gap:       1%;
  column-count:         2;
  column-gap:            1%;
}

.model-wrapper {
  line-height: 1%;
  
  -webkit-column-count: 2;
  -webkit-column-gap:   1%;
  -moz-column-count:    2;
  -moz-column-gap:       1%;
  column-count:         2;
  column-gap:            1%;
}

.img-wrapper img {
 width: 100% !important;
 height: auto !important;
 margin-top: 2%;
}

.img-wrapper2 {
  line-height: 1%;
  
  -webkit-column-count: 3;
  -webkit-column-gap:   1%;
  -moz-column-count:    3;
  -moz-column-gap:       1%;
  column-count:         3;
  column-gap:            1%;
}

.img-wrapper2 img {
 width: 100% !important;
 height: auto !important;
 margin-top: 2%;
}

.model {
  width: 100%; 
  height:300px;
}
