@font-face { font-family: Engschrift; src: url('Engschrift.otf'); }

body, html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: whitesmoke;
    color: black;
    overflow-x: hidden;
    width: 99.5%;
    height: 99%;
}

::-webkit-scrollbar {
    display: none;
}

 /* unvisited link */
a:link {
    color: black;
}
/* visited link */
a:visited {
    color: black;
}
/* mouse over link */
a:hover {
    color: darkred;
}
/* selected link */
a:active {
    color: darkred;
}

.logos{
    border: 5px solid black;
    padding: 1%;
    text-align: center;
}

img:hover {
    -webkit-transform: scale(1.1,1.1);
    color: darkred;
}

#git{
    float: left;
}
#mail{
    float: center;
}
#linkedin{
    float: right;
}

#name {    
    font-size: 100px;
    padding: 5%;
}


.border {
    border: 5px solid black;
    padding: 1%;
}

#pic {
    float: left; 
    margin-left: 10%;
    margin-top: 5%;
}

#about{
    margin-top: -10%;
    margin-left: 10%;
    width: 50%;
}

#topics{
    margin-left: 10%;
    margin-top: 5%;
}

.title {
    font-size: 30px;
}

.plainText {
    font-size: 18px;
}